.navbar .container-sm{
  align-items: unset;
}

.mh-header-bar {
  background: transparent;
}
.mh-header-bar.scrolled {
  background-image: linear-gradient(to right, #1a2932,#83d0f0);
}

.mh-header-bar-inner {
  color: #fff;
  padding: 15px 15px 0;
  display: flex;
  flex-direction: row;
}
.mh-header-bar-inner_logo {
  height: 20px;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  margin-bottom: 30px;
}
.mh-header-bar-inner_spacer {
  flex: 1;
}

.mh-header-bar-inner_search {
  width: 250px;
}

.form-group {
  margin-bottom: 6px;
}
.search-pf .has-clear .search-pf-input-group {
  position: relative;
}
.mh-header-bar_search-icon {
  color: #fff;
  font-size: 12px;
  left: 5px;
  top: 7px;
  position: absolute;
}

.form-control:hover {
  border-color: #df691a;
}
.form-control:focus {
  border-color: #df691a;
  background-color: hsla(0,0%,100%,.2);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223,105,26,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223,105,26,.6);
}
.mh-header-bar_search-input {
  background-color: hsla(0,0%,100%,.2);
  border: none;
  border-radius: 4px;
  color: #fff;
  padding-top: 3px;
  padding-left: 30px;
  padding-bottom: 3px;
  height: 26px !important;
  font-size: 14px;
}
.mh-header-bar_search-input:focus {
  color: #fff !important;
}
.mh-header-bar_search-input::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
  font-style: italic;
}
.mh-header-bar_search-input::-webkit-search-cancel-button {
  /* Remove default clear icon */
  -webkit-appearance: none;
}

.mh-header-bar_clear-icon {
  color: #fff;
  right: 5px;
  top: 6px;
  position: absolute;
}
.mh-header-bar_clear-icon.disabled {
  display: none;
}
.fa.fa-times-circle {
  color: #c00;
}

.btn-group {
  display: unset;
}

.mh-header-bar-inner_dropdown {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #fff;
  margin-left: 30px !important;
  padding-top: 3px;
}

.mh-header-bar .dropdown-menu, .mh-header-bar-inner_dropdown {
  font-size: inherit;
  font-weight: inherit; 
}
@media (min-width: 768px) {
  .mh-header-bar .dropdown-menu {
    margin-top: -14px;
  }
}

.mh-header-bar .dropdown-menu {
  background-color: #fafbfd;
}
.mh-header-bar .dropdown-menu>li>a {
  color: #363636;
}
.mh-header-bar .dropdown-menu>li>a:hover {
  background-color: #eaeaea;
}