---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Microcks Hub</title>
	</head>
	<body class="font-sans">
		<slot />
	</body>
</html>

<script>
	import { configureApiClient } from "@utils/apiClient";

	configureApiClient(import.meta.env.PUBLIC_API_BASE_URL);
</script>
