<div class="mh-footer-bar">
  <div class="mh-footer-bar-top">
    <h3>List your API mocks on Hub.microcks.io</h3>
    <a class="mh-button mh-button-accent mh-footer-bar-top_link" href="/doc/how-to-contribute">Submit your mocks &gt;</a>
  </div>
  <div class="mh-footer-bar-contents mh-dark">
    <div class="mh-footer-bar-contents_inner container-sm">
      <div class="mh-footer-bar-contents-left">
        <img class="mh-footer-bar-contents-left_logo" src="/assets/images/microcks.svg" alt="Microcks">
        <div class="mh-footer-bar-contents-left_text">
          Microcks is an open source Kubernetes native platform for mocking APIs and microservices, allowing contract testing in an automated and scalable way.
        </div>
        <a class="mh-footer-bar_button" href="https://microcks.io/documentation/tutorials/getting-started/">Get Started with Microcks</a>
      </div>
      <div class="mh-footer-bar-contents-right">
        <img class="mh-footer-bar-contents-right_logo" src="/assets/images/hub-microcks.svg" alt="Microcks">
        <div class="mh-footer-bar-contents-right_links">
          <div class="mh-footer-bar-contents-right_links_list">
            <h5 class="mh-footer-bar-contents-right_links_list_header">ABOUT</h5>
            <a class="mh-footer-bar-contents-right_links_list_link" href="https://microcks.io/" target="_blank" rel="noopener noreferrer">What is Microcks ?</a>
            <a class="mh-footer-bar-contents-right_links_list_link" href="https://microcks.io/blog/microcks-hub-announcement/" target="_blank" rel="noopener noreferrer">About Hub.microcks.io</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://microcks.io/documentation/" target="_blank" rel="noopener noreferrer">Documentation</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://www.linuxfoundation.org/legal/privacy-policy" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
          </div>
          <div class="mh-footer-bar-contents-right_links_list">
            <h5 class="mh-footer-bar-contents-right_links_list_header">NETWORK</h5>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://twitter.com/microcksio" target="_blank" rel="noopener noreferrer">Twitter</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://bsky.app/profile/microcks.io" target="_blank" rel="noopener noreferrer">Bluesky</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://mastodon.social/@microcksio" target="_blank" rel="noopener noreferrer">Mastodon</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://www.linkedin.com/company/microcks/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://www.youtube.com/c/Microcks" target="_blank" rel="noopener noreferrer">YouTube</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://github.com/microcks" target="_blank" rel="noopener noreferrer">GitHub</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://github.com/microcks/community-mocks/issues" target="_blank" rel="noopener noreferrer">File an issue on GitHub</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://discord.com/invite/JA4rbcGzk7" target="_blank" rel="noopener noreferrer">Join us on Discord</a>
            <a class="mh-external-link mh-footer-bar-contents-right_links_links_list_link" href="https://microcksio.zulipchat.com" target="_blank" rel="noopener noreferrer">Join us on Zulip</a>
        </div>        
        </div>
      </div>
    </div>
  </div>
</div>