
.mh-doc-header-content {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  overflow: hidden;
}
.mh-doc-markdown-view {
  padding-bottom: 15px;
  font-size: 110%;
}
